site_name: mapwidget

site_url: https://mapwidget.gishub.org

repo_url: https://github.com/giswqs/mapwidget

theme:
    palette:
        scheme: preference
    name: material
    icon:
        repo: fontawesome/brands/github
    features:
        - navigation.instant
        - search.highlight
        # - navigation.expand
        # - navigation.tabs
    custom_dir: "docs/overrides"

plugins:
    - search
    - mkdocstrings
    - git-revision-date
    - mkdocs-jupyter:
          include_source: True
          #   ignore_h1_titles: True
          execute: False
          #   execute_ignore: "*.ipynb"

markdown_extensions:
    - attr_list
    - pymdownx.superfences
    - pymdownx.highlight:
          linenums: true
    - toc:
          permalink: true

# extra:
#     analytics:
#         provider: google
#         property: UA-XXXXXXXXX-X

nav:
    - Home: index.md
    - Installation: installation.md
    - Usage: usage.md
    - Contributing: contributing.md
    - FAQ: faq.md
    - Changelog: changelog.md
    - Report Issues: https://github.com/giswqs/mapwidget/issues
    - Examples:
          - examples/cesium.ipynb
          - examples/leaflet.ipynb
          - examples/mapbox.ipynb
          - examples/maplibre.ipynb
          - examples/openlayers.ipynb
    - API Reference:
          - cesium module: cesium.md
          - leaflet module: leaflet.md
          - mapbox module: mapbox.md
          - maplibre module: maplibre.md
          - openlayers module: openlayers.md
